<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
    <!--<add key="conn" value="DATA SOURCE=localhost:1521/TReal; PASSWORD=password; USER ID=system;"/>-->
    <add key="conn" value="DATA SOURCE=localhost:1521/EPDB1; PASSWORD=123456; USER ID=TURISMOADMIN;"/>
	</appSettings>
</configuration>